*{
    box-sizing: border-box;
    margin: auto;
    max-width: 1920px;
    
}

    

body{
    font-family: "Roboto", sans-serif;
    
 
}



/*Navigation*/

.nav-container{
    background: #905700;
    height: 65px; 
    width: 1920px;
}
.wrapper0{
    
    max-width: 1920px;
    margin: 0 auto;
}


.wrapper{
    
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
     padding-right: 600px;
    width: 1920px;
}
nav ul{
   display: flex;

    
    
}

.nav-items{
    list-style: none;
    margin-right: 100px;
    width: 1920px;
    
}
#lista{
    margin-left: 20px;
}

.nav-items li a{
   color: #FFFFFF; 
    font-size: 36px;
    text-decoration: none;
}


/*Header*/

.hero-content{
    
    font-size: 30px;
    color: #FEFFFE;
    text-align: center;
    padding-top: 10px;
}

#main_obraz{
  width: 800px;
    height: 500px;
}

.header-container{
   background-image: url("bu%C5%82a%20z%20pieczarkami/kien.png");
background-repeat: no-repeat;
 background-position: right;
    background-size: contain;
    width: 1920px;
height: 1080px;
    display: flex;
    align-items: center;
}
.hero-image{
    width: 784px;
height: 162px;
background: #905700;
}


.pasek{
 width: 1920px;
height: 100px;
    background: #905700;
border: 1px solid #000000;
    
    
}

.pasek_tekst{
    
 
padding-top:20px ;  
text-align: center;
    color: #FFFFFF;
    font-size: 48px;
line-height: 65px;
}

.O_NAS{
    width: 1920px;
  display: flex;
    flex-direction: row;
    
}



#sklep{
    width: 960px;
height: 756px;
}



#tekst_tekst{
    width: 960px;
height: 756px;
    display: flex;
    flex-direction: column;
}

#bulki{
    color: #905700;
    font-size: 48px;
line-height: 65px;
    text-align: center;
    padding-top: 10px;
}

#bulki2{
  font-size: 30px;
line-height: 41px;  
    color: #242424;
    padding-right: 110px;
    padding-left: 110px;
    height: 400px;
    
}

.MENU{
    width: 1920px;
  display: flex;
    flex-direction: row;  
}

#opis{
   width: 960px;
height: 381px; 
    background: #905700;
}

#cena{
  width: 960px;
height: 381px;  
}

#cena_cena{
   font-size: 64px;
line-height: 87px; 
    color: #905700;
    text-align: center;
    padding-top: 70px;
    }
#opis_opis{
     font-size: 64px;
line-height: 87px; 
    color: #FFFFFF;
    text-align: center;
    padding-top: 70px;
}

#galeria{
    width: 1920px;
height: 867px;
background: #F1F1F1;

    
}

#galeria-obrazek{
    
    width: 450px;
height: 299px;
    margin-left: 20px;
}

#galeria2{
 display: flex;
    flex-direction: row; 
    padding-top: 120px;
    padding-left: 150px;
    
    
}

#galeria3{
 display: flex;
    flex-direction: row; 
    padding-top: 20px;
    padding-left: 150px;
    
}

#adresy{
    width: 1920px;
height: 600px;
background: #915700;
display: flex;
padding-top: 70px;
    padding-left: 60px;

}

#godziny{
  font-size: 30px;
 color: #FFFFFF;
    
}

#adres{
    
  font-size: 25px;
 color: #FFFFFF;  
display: flex;
    flex-direction: column;
    align-items: center;
}

#adresh1{
    
    margin-bottom: 100px;
}

#fblink{
font-size: 20px;
 color: #FFFFFF; 
  width: 450px;
height: 450px;
    margin-left: 70px;
    padding-top: 160px;
    
}

#mapa{
    width: 1920px;
}






